@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./foundation/variables.scss";
@include foundation-everything;

@import "./app.scss";
@import "./topbar.scss";
@import "./trails.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
