@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./variables";
@include foundation-everything;

.button-group {
  border-radius: 20px;
  background: #f17b30;
}

.top-bar {
  display: flex;
  background: $white;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.top-logo {
  display: flex;
  background: url(../images/hiker-trees.jpg);
  max-height: 100px;
}

.top-bar-right {
  display: flex;
  flex-direction: column;
}

.top-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textboxclass {
  height: 30px;
  width: 40%;
}
